version: '3.8'

services:
  app:
    build: .
    volumes:
      - ../:/workspace
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
    ports:
      - "3000:3000"

  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: python-editor
      PGDATA: /data/postgres
    volumes:
      - pgdata:/data/postgres

volumes:
  pgdata:

